
/*
#html 640065 is the color for the logo 
light gray logo is hex 
a5a4a4*/

Stormy #494e6b
Cloud #98878F
Sunset #985E6D
Evening #192231

*/
* {
            margin: 0;
            padding: 0;
            outline: 0;
            box-sizing: border-box;
        }

        body{
            background-color: #98878F;


        }
        /*body {
            background-image: url();
            -webkit-background-size:cover;
            background-size:cover;
            background-position: center center;
            height: 100vh;
        }*/
        .menu-area li a {
            text-decoration: none;
        }

        .menu-area li {
            list-style-type: none;
        }

        .custom-padding{
            padding-top: 25px;
        }

        nav {
            position: relative;
            width: calc(100% - 60px);
            margin: 0 auto;
            padding: 10px 0;
            background: #192231;
            z-index: 1;
            text-align: right;
            padding-right: 2%;ß
        }

        .logo {
            width: 15%;
            float: left;
            text-transform: uppercase;
            color: /*#fff*/#985E6D;
            font-size: 25px;
            text-align: left;
            padding-left: 2%;
        }

        .menu-area li {
            display: inline-block;
        }

        .menu-area a {
            color: #985E6D;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: block;
            padding: 0 25px;
            font-size: 14px;
            line-height: 30px;
            position: relative;
            z-index: 1;
        }

        .menu-area a:hover {
            background: /*#a5a4a4*/#494e6b;
            color: #985E6D;
        }

        .menu-area a:hover:after {
            transform: translateY(-50%) rotate(-35deg);
        }

        /*nav:before {
            position: absolute;
            content: '';
            border-top: 10px solid #333;
            border-right: 10px solid #333;
            border-left: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 100%;
            left: 0;
        }

        nav:after {
            position: absolute;
            content: '';
            border-top: 10px solid #333;
            border-left: 10px solid #333;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            top: 100%;
            right: 0;
        }
*/


        .submenu li {
          display: none;
          position: absolute;
          top: 0px;
        }


        .submenu {
          display: flex;
          flex-direction: column;
          position: absolute;
          width: 100%;
        }

        .submenu li {
          position: relative;
        }

        .submenu li:hover {
          display: block;
        }


        #main-nav ul {
          list-style: none;
          display: flex;
        }

        #main-nav li {
          width: 100%;
          text-align: center;
          position: relative;
        }

        #main-nav li:hover .submenu > li {
          display: block;
          flex-direction: column;
          top: 0px;
        }

/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}